.hym-header{background-color:#000000;}.pagebackground{background-color:#F2F1F0}
.footer{margin:10px 0px;padding:10px;color:#8C9999}
.hym-header .logo-header img{height:100px;width:100%}
.testborder{border:1px solid #ff0000}
.hym-responsive{width:100%}

.homepage-loginblock{
         border:1px solid #8B8B8A;margin:10px;background-color:#ffffff}
.homepage-loginblock .input-group, .homepage-loginblock input[type=submit]{margin-top:10px}
.width20{width:20%}
.dashboard-icon{
    float: none;
    margin: 0 auto;
	text-align:center;
	color:#8C9999;
	padding:10px;
}

